  <div class="comment">
    <p><i>Autor:</i> <%= comment.author %></p>
    <div class="cbody">
      <%= comment.body %>
          <div>
          <%= link_to "Usuń", [@trail, comment], :confirm => "Jesteś pewien?", :method => :delete %>
          <%= link_to 'Edytuj', edit_trail_comment_path(@trail, comment) %>
          </div>
    </div>
  </div>