<h1>Nowa trasa</h1>
<div><p>Podaj nazwę trasy i zaznacz ją na mapie lub wyszukaj punkty przy pomocy wyszukiwarki. Powodzenia! </p></div>
<%= render 'form' %>

<div id="links" >
<%= link_to 'Wróć', trails_path %>
</div>